## Working with json

In [2]:
import pandas as pd

In [ ]:
df = pd.read_json(
    'K:\\Machine learning campus x\\Working_With_JSON\\train.json'
)
## instead of single backslash \ use double backslash \\ in file path on Windows

In [5]:
df

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [ ]:
#  instead of file path we can also use URL like below

## working with Sql

In [ ]:
# ! pip install mysql-connector-python

In [7]:
import pandas as pd
import mysql.connector

In [8]:
connector = mysql.connector.connect(host='localhost',user='root', password='karan',database='joints')

In [10]:
df = pd.read_sql('select * from employee', con=connector)

C:\Users\karan\AppData\Local\Temp\ipykernel_10168\2357083711.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select * from employee', con=connector)

In [11]:
df

   id  fname    lname  Age          emailID PhoneNo     City
0   1   Aman    Proto   32   aman@gmail.com     898    Delhi
1   2  Yagya  Narayan   44  yagya@gmail.com     222    Palam
2   3  Rahul       BD   22  rahul@gmail.com     444  Kolkata
3   4  Jatin   Hermit   31  jatin@gmail.com     666   Raipur
4   5     PK   Pandey   21     pk@gmail.com     555   Jaipur

## using engine

In [ ]:
# ! pip install sqlalchemy

In [16]:
from sqlalchemy import create_engine
import pandas as pd
import mysql.connector

In [17]:
engine = create_engine('mysql+mysqlconnector://root:karan@localhost/joints')

In [18]:
df = pd.read_sql('select * from employee', con=engine)

In [19]:
df

   id  fname    lname  Age          emailID PhoneNo     City
0   1   Aman    Proto   32   aman@gmail.com     898    Delhi
1   2  Yagya  Narayan   44  yagya@gmail.com     222    Palam
2   3  Rahul       BD   22  rahul@gmail.com     444  Kolkata
3   4  Jatin   Hermit   31  jatin@gmail.com     666   Raipur
4   5     PK   Pandey   21     pk@gmail.com     555   Jaipur